---
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/projects.astro";
import Contact from "../components/contact.astro";
---

<div class="main">
  <Hero />
  <About />
  <Projects />
  <Contact />
</div>
